*, a{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    
}

main{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    width: 100%;  
}


                                /* ACCUEIL BOUTIQUE */
.boutique_accueil{
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.boutique_accueil .profil{
    width: 25%;
    min-width: 250px;
    text-align: center;
    border: 1px solid rgb(206, 206, 206);
}

.boutique_accueil .profil p{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0.3em;
}

.boutique_accueil .profil p{
    text-align: center;
    font-size: 25px;
}


.boutique_accueil .profil img{
    width: 100%;
}

.boutique_accueil .note{
    border-top: 1.5px solid rgb(206, 206, 206);
    border-bottom: 1.5px solid rgb(206, 206, 206);
}

.boutique_accueil .modifier a{
    margin: 10px 10px;
    width: 85%;
}

.boutique_accueil .annonces{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: 148px;
}

.annonces .annonce{
    margin: 7px;
    border: 1px solid white;
    transition: all 0.4s;
}

.annonces .annonce:hover{
    background-color: rgb(248, 246, 246);
    border: 1px solid rgb(248, 246, 246);
    border-radius: 1px;
    transition: all 0.4s;
}

.annonce .titre{
    color: black;
    font-size: 0.9em;
    padding-left: 2px;
}

.annonce .prix{
    color: grey;
    font-size: 0.8em;
    padding-left: 2px;
    padding-bottom: 2px;
}

.annonces .annonce img{
    width: 150px;
    height: 120px;
}

                                /* PROFIL USER */
.profil_profil{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.profil_user{
    display: flex;
    margin-top: 60px;
    margin-bottom: 20px;
    justify-content: center;
    align-items:flex-start;
    min-width: 570px;
    box-shadow: 0 0 10px grey;
    border-radius: 12px;
    line-height: 2em;
    
}

.profil_user .nom{
    margin-top: 3px;
    font-family: monospace;
    font-size: 1.4em;
}

.profil_user .ville{
    color: grey;
}

.profil_user .achat{
    margin-bottom: 7px;
}

.profil_user .photo{
    width: 50%;
    min-width: 280px;
}

.profil_user .photo img{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 200px;
    width: 280px;
}

.profil_user .description{
    width: 50%;
    min-width: 280px;
    text-align: center;
}

.profil_profil .boutique{
    display: flex;
    justify-content: center;
    min-width: 600px;
}

                                /* VOIR ANNONCE  */                    

.boutique_par_container{
    width: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
}
.boutique_par{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: 90%;
    flex-wrap: wrap;
    margin: 30px 0;
    min-width: 800px;
    max-width: 1000px;
}

.photo_container{
    display: flex;
    justify-content: center;  
    width: 55%;
}

.photo_container img{
    width: 90%;
    border-radius: 2px;
    border: 1px solid white;
    background-color: white;
}

.description_container{
    width: 30%;
    padding-top: 0px;
}

.description_container div{
    padding: 0 10px;
    margin: 7px 0;
}

.description_container .titre{
    text-align: center;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
    padding-top: 6px;
}

.description_container .description{
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 6px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(116, 114, 114);
}

.description_container .livraison{
    font-size: 0.9em;
}

.description_container .prix{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description_container .date_annonce{
    font-size: 0.9em;
}

.ajouter_panier a{
    color: white;
    padding: 3px 3px 4px 3px;
    background-color: rgb(27, 239, 247);
    border: 1px solid rgb(27, 239, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

.ajouter_panier :hover{
    color: rgb(27, 239, 247);
    padding: 3px 3px 4px 3px;
    background-color: white;
    border: 1px solid rgb(27, 239, 247);
}

.modifier a{
    color: white;
    padding: 3px 3px 4px 3px;
    background-color: rgb(27, 239, 247);
    border: 1px solid rgb(27, 239, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
}

.modifier :hover{
    color: rgb(27, 239, 247);
    padding: 3px 3px 4px 3px;
    background-color: white;
    border: 1px solid rgb(27, 239, 247);
}

.favoris a{
    color: #6c757d;
    background-color: white;
    padding: 2px 4px 3px 4px;
    border: 1px solid #6c757d;
    margin-bottom: 12px;
}

.supprimer button{
    padding: 2px 4px;
    background-color: rgb(223, 21, 21);
    margin-bottom: 12px;
}

.description_boutique_par{
    background-color: white;
    margin-bottom: 17px;
    border-radius: 2px;
}

.boutique_boutique_par{
    background-color: white;
    border-radius: 2px;
    text-align: center;
}
.boutique_boutique_par img{
    width: 60%;
    
}

.boutique_boutique_par .boutique{
    padding-top: 7px;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boutique_boutique_par .boutique_nom{
    color: rgb(71, 71, 71);
}

.boutique_boutique_par .boutique_image{
    display: flex;
    justify-content: center;
}

.boutique_boutique_par .voir_boutique a{
    color: white;
    padding: 3px 3px 4px 3px;
    background-color: rgb(27, 239, 247);
    border: 1px solid rgb(27, 239, 247);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.boutique_boutique_par .voir_boutique :hover{
    color: rgb(27, 239, 247);
    padding: 3px 3px 4px 3px;
    background-color: white;
    border: 1px solid rgb(27, 239, 247);
}



